/*
 * CSS hacks and small modification for my Sphinx website
 * :copyright: Copyright 2013-2016 Lilian Besson
 * :license: GPLv3, see LICENSE for details.
 */


/* Colors and text decoration.
 For example, :black:`text in black` or :blink:`text blinking` in rST. */

 .black {
  color: black;
}

.gray {
  color: gray;
}

.grey {
  color: gray;
}

.silver {
  color: silver;
}

.white {
  color: white;
}

.maroon {
  color: maroon;
}

.red {
  color: red;
}

.red-emphasize {
  color: red;
  font-weight: bold;
}

.magenta {
  color: magenta;
}

.fuchsia {
  color: fuchsia;
}

.pink {
  color: pink;
}

.orange {
  color: orange;
}

.yellow {
  color: yellow;
}

.lime {
  color: lime;
}

.green {
  color: green;
}

.green-emphasize {
  color: green;
  font-weight: bold;
}

.olive {
  color: olive;
}

.teal {
  color: teal;
}

.cyan {
  color: cyan;
}

.aqua {
  color: aqua;
}

.blue {
  color: blue;
}

.blue-emphasize {
  color: blue;
  font-weight: bold;
}

.navy {
  color: navy;
}

.purple {
  color: purple;
}

.under {
  text-decoration: underline;
}

.over {
  text-decoration: overline;
}

.blink {
  text-decoration: blink;
}

/*
.line {
  text-decoration: line-through;
}
/*

.strike {
  text-decoration: line-through;
}

.it {
  font-style: italic;
}

.ob {
  font-style: oblique;
}

.small {
  font-size: small;
}

.large {
  font-size: large;
}

.smallpar {
  font-size: small;
}
